@use '@/styles/mixin' as *;

.headerContainer {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  background-color: var(--red1);
  z-index: 10000;
}

.headerContainerInner {
  position: relative;
  max-width: 1080px;
  padding: 0 20px;
  width: 100%;
  height: 70px;
}

.headerIcon {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.loginButton {
  margin-top: 0;
  color: #fff;
  background-color: rgb(146, 19, 19);
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.loginButton:hover {
  background-color: rgb(94, 7, 7);
}
