:root {
  --main-color: rgb(186, 27, 27);
  --background-color: rgba(255, 182, 193, 0.8);
  --font-size-title: 28px;
  --font-size-normal: 20px;
  --star-color: red;
}

.container {
  display: flex;
  font-size: var(--font-size-normal);
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: var(--font-size-title);
  margin-top: 20px;
  color: var(--main-color);
}

.contentWrapper {
  width: 100%; /* 确保内容宽度为100% */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: var(--font-size-title);
  margin-top: 20px; /* 保持 subtitle 与 redFrameContainer 的距离 */
  color: var(--main-color);
  text-align: center;
  width: 100%;
}

.redFrameContainer {
  margin-top: 40px;
  height: 225px;
  justify-content: center;
  position: relative;
  background-color: var(--background-color);
}

.redFrameImage {
  width: 100%;
  height: 100%;
}

.frameContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 2;
  gap: 20px; /* 设置每行之间的间距 */
}

.starsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stars {
  display: flex;
  align-items: center;
}

.fullStar,
.halfStar,
.emptyStar {
  color: var(--star-color);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: var(--font-size-normal);
  color: #fff;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: darkred;
}

.mapContainer {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
