
.score_button{
    margin-bottom: 3rem;
}
.score_button a{
	display: block;
	text-align: center;
	text-decoration: none;
    width: fit-content;
	margin: auto;
	padding: 1rem 3rem;
	font-weight: bold;
	border-radius: 0.3rem;
	background: #bf0000;
	color: #fff;
    box-shadow: 10px 5px 5px rgba($color: #000000, $alpha: 0.5);
    transition: box-shadow 0.3s ease;
}
.score_button a:hover{
	color: #fff;
    box-shadow: none;
    filter: brightness(1.10); /* 明るくする */
    box-shadow: 5px 2px 2px rgba($color: #000000, $alpha: 0.5);
}
